.collection-item-list {
    margin: 20px 20%;

    .-add {
        margin-bottom: 20px;
    }

    .actions {
        display: flex;
        margin: 5px 15px 5px;
        flex-direction: row-reverse;
        padding-bottom: 10px;
    }

    .btn-link {
        text-decoration: none;
        color: #1f69aa;
    }
}
