.collection-list {
    .col{
        padding-top: 20px;
        padding-left: 5%;
        padding-right: 5%;

    }

    .card-link {
        padding: 0;
        text-decoration: none;
        color: #1f5eaa;
    }
}








